@import 'guide.scss';

// Main Container
.main-wrapper {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, auto);
}

// Hero Section
.hero {
	justify-content: space-between;
	margin-bottom: 50px;
}
.hero__logo {
	width: 90%;
	height: 50px;
}
.hero__background {
	margin: 0 auto;
	width: 90%;
	height: 200px;
	img {
		width: 100%;
		height: 100%;
	}
}

// Info Section
.info__register {
	align-items: center;
	text-align: center;
}
.register__title {
	font-size: 2.2rem;
}
.register__description {
	font-size: 1.6rem;
}
.register__social-media {
	position: unset;
	justify-content: center;
}

// Breakpoint
@media screen and (min-width: 540px) {
	body {
		background-size: contain;
	}
	.hero__background {
		@include flexbox(row, center, null, null);
		img {
			width: 60%;
		}
	}
}
@media screen and (min-height: 740px) and (max-width: 932px) {
	body {
		height : 100vh;
	}
}
